//================ Slide React-slide ============//

.slick-dots li button::before {
  color: $secondary-color !important ;
}

.slick-dots li.slick-active button:before {
  color: $tertiary-color !important;
}

.slick-track {
  @include desktop {
    // margin-left: -30px !important;
  }
}

.slick-prev {
  left: 5px !important;
  @include desktop {
    left: -25px !important;
  }
  @include tablet {
    left: -25px !important;
  }
}

.slick-next {
  right: 5px !important;
  @include desktop {
    right: -25px !important;
  }
  @include tablet {
    right: -25px !important;
  }
}

.slick-prev {
  z-index: 99;
}

// .slider .slick-list {
//   border: 1px solid red;
// }

.slider {
  margin: 0 auto !important;
}

.slick-slide {
  text-align: center;
}

/*============== Projets Formation ===============*/

.works__card {
  width: 200px !important;
  height: 200px;
  border: 4px solid $secondary-color;
  // margin-top: 30px !important;
  // margin-left: 70px !important;
  @include shadow;
  @include desktop {
    margin: 35px !important;
    // margin-top: 65px !important;
    width: 235px !important;
    height: 235px !important;
  }
  @include tablet {
    width: 200px !important;
    height: 200px !important;
    // margin-left: 50px !important;
  }

  &::after {
    content: "";
    position: absolute;
    border: 4px solid $secondary-color;
    background: $fond-color;
    mix-blend-mode: luminosity;
    opacity: 0.76;
    width: 200px;
    height: 200px;
    bottom: 20px;
    left: 30px;
    z-index: -100;
    @include tablet {
      width: 200px !important;
      height: 200px !important;
    }
    @include desktop {
      width: 235px !important;
      height: 235px !important;
    }
  }

  &__date {
    position: absolute;
    top: 70px;
    left: -25px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    direction: rtl;
    font-size: 12px;

    &::before {
      width: 1px;
      height: 100%;
      background: $secondary-color;
      content: "";
      left: 5px;
      top: 55px;
      position: absolute;
      transition: all 0.5s;
    }

    &::after {
      width: 1px;
      height: 100%;
      background: $secondary-color;
      content: "";
      left: 5px;
      bottom: 60px;
      position: absolute;
      transition: all 0.5s;
    }
  }

  &__img {
    width: auto;
    height: auto;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: -9;
      filter: grayscale(50%);
      transition: transform 0.1s;

      &:hover img {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(
      360deg,
      #efe0cb00 0%,
      #c6a98b62 30%,
      #1a1614 100%
    );
    left: 0;
    gap: 1rem;
    height: 100%;
    width: 100%;

    &__logo {
      display: flex;
      flex: 1;
      align-items: center;
      width: 85%;
      overflow: hidden;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin: 30px;

      @include tablet {
        width: 50%;
      }
    }

    &__techno {
      display: flex;
      position: absolute;
      bottom: 165px;
      left: 5px;
      width: 100%;
      @include tablet {
        bottom: 157px;
      }
      @include desktop {
        bottom: 200px;
      }

      & > * {
        height: 50px;
        background-color: $tertiary-color;
        border-radius: 5%;
        @include desktop {
          padding: 2px;
        }
      }

      & img {
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
        @include tablet {
          width: 30px;
          height: 30px;
        }
      }
    }

    &__text {
      font-size: 12px;
      padding: 0 10px;
      color: white;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5),
        1px 1px 0 rgba(0, 0, 0, 0.25), 3px 3px 3px rgba(0, 0, 0, 0.25),
        10px 10px 20px rgba(0, 0, 0, 0.5), 20px 40px 40px rgba(0, 0, 0, 0.5);
      @include tablet {
        font-size: 12px;
      }
    }

    &__link {
      position: relative;
      width: 100%;

      & ul {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid $secondary-color;
        background-color: rgba(255, 255, 255, 0.4);
        @include shadow;
        @include tablet {
          height: 55px;
        }

        &:hover {
          box-shadow: 0 0 20px $secondary-color;
        }

        & li {
          flex: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          // border-right: 2px solid rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px $tertiary-color;
          border-bottom: 2px solid transparent; /* Bordure inférieure transparente par défaut */
          transition: border-bottom 0.3s;

          & > * {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          & span {
            @include tablet {
              display: none;
            }
          }

          .image-container {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
              width: 20px;
              height: 20px;
            }
          }

          & span {
            visibility: visible;
            @include tablet {
              visibility: visible;
            }
            @include desktop {
              visibility: hidden;
            }
          }

          &:hover {
            border-bottom: 2px solid $tertiary-color;

            & a {
              color: $tertiary-color;
            }
          }
        }
      }
    }
  }
}

// ============== Projets Personnels =================
.projects__card {
  position: relative;
  width: 300px !important;
  height: 250px;
  @include shadow;

  @include tablet {
    width: 270px !important;
  }

  @include desktop {
    width: 350px !important;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
  }

  &__img {
    width: 100%;
    height: 100%;
    border: 1px solid #393939;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    display: block;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(0);
      transition: transform 2s;

      &:hover {
        transform: scale(1.5);
        // position: relative;
        filter: contrast(120%) saturate(110%);

        &::hover::before {
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute;
          pointer-events: none;
          mix-blend-mode: multiply;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        mix-blend-mode: overlay;
        background: rgba(127, 187, 227, 0.2);
      }
    }
  }

  &__body {
    position: relative;
    top: -45px;
    right: 12px;
    margin-top: 10px;

    &__title {
      display: none;
    }

    &__techno {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.3rem;

      & img {
        padding: 0.1rem;
        background: black;
      }
    }

    &__link {
      display: none;

      @include tablet {
        &__link {
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
          justify-content: flex-end;
          gap: 0.3rem;

          & h3 {
            position: relative;
            font-size: 12px;
            top: -5px;
            left: -10px;
          }

          & img {
            width: 20px;
            border-radius: 50%;
            background: $primary-color;
          }
        }
      }
    }
  }
}
