.scroll-to-top-button {
  visibility: hidden;
}

@include desktop {
  .scroll-to-top-button {
    visibility: visible;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;

    &.visible {
      opacity: 1;
    }
  }
}
