.flip-card-container {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.card {
  padding: 1.5rem;
  margin-bottom: 4rem;
  width: 350px;
  height: 200px;
  transform-style: preserve-3d;
  position: relative;
  border: 4px solid $secondary-color;
  box-shadow: 5px 4px 4px 0px #00000040;
  mix-blend-mode: normal;
  transition: 0.5s ease;
  cursor: pointer;

  &.flipped {
    transform: rotateX(180deg);
    background-color: $primary-color;
  }

  &::hover {
    transform: rotateX(180deg);
  }

  &-front,
  &-back {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);

    &::after {
      content: "";
      position: absolute;
      width: 350px;
      height: 200px;
      border: 4px solid $secondary-color;
      opacity: 0.4;
      transform: rotate(-8deg);
      left: -33px;
      background: url("@/assets/Logo.png") center/cover no-repeat;
      z-index: -10;
      backface-visibility: hidden;
      filter: drop-shadow(2px 4px 6px black);
    }

    &__img {
      background-color: $secondary-color;
      border-radius: 50%;
      padding: 20px;
      margin-top: 0;
      height: 50%;
      display: flex;
      align-items: center;
    }

    &__body {
      padding: 0 1rem 0 1rem;
      flex: content;
      display: flex;
      flex-direction: column;

      &__title {
        margin-bottom: 20px;
        font-size: 18px;
        color: $tertiary-color;
      }

      &__logos {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }
  }

  &-back {
    transform: rotateX(180deg);

    // height: 100%;

    &::after {
      top: 116px;
      left: -33px;
      z-index: -100;
    }

    &__text {
      position: fixed;
      display: flex;
      align-items: center;
      top: 120px;
      color: $secondary-color;
      padding: 1rem;
      overflow: auto;
      text-align: center;
      vertical-align: middle;
      background-color: $primary-color;
      width: 116%;
      height: 134%;
      left: -23px;

      & p {
        font-size: 15px;
        @include desktop {
          font-size: 18px;
        }
      }

      /* === scrollbar === */

      scrollbar-width: thin;
      scrollbar-color: $primary-color;
    }
  }
}

.card-back__text::-webkit-scrollbar {
  width: 0.3rem; /* Largeur de la scrollbar */
}

.card-back__text::-webkit-scrollbar-thumb {
  background-color: $tertiary-color; /* Couleur de la poignée de la scrollbar */
}

.card-back__text::-webkit-scrollbar-track {
  background-color: $secondary-color; /* Couleur de la piste de la scrollbar */
}
