.icon {
  position: absolute;
  top: -45px;
  left: -71px;
  will-change: transform;
  transform: translateX(0.1px) translateY(5px);

  &__stars {
    width: 40px;
    margin: 30px;
    // opacity: 1;
    position: relative;

    &__path {
      stroke-dasharray: 1560;
      stroke-dashoffset: 0;
      animation: animate-stars 2s linear forwards;
      filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.7));
    }
  }

  path {
    fill: transparent;
    stroke: 10;
    stroke: url(#gradient-horizontal);
  }
}

/*=== Icon Facebook ===*/
.icon-FB {
  display: inline-block;
  height: 80%;
  max-height: 100%;
  width: auto;
  fill: none;
  stroke: #fff;
  stroke-width: 35;
  stroke-miterlimit: 5;
  // background: rgba(255, 255, 255, 0.1);
  // padding: 0.1rem;
  // border-radius: 25%;

  linearGradient {
    transform: rotate(135deg);
  }

  path {
    stroke-dasharray: 3000;
    // filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.7));
  }
}

svg:hover .icon-FB__path {
  animation: animation-FB 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) forwards,
    gradient-FB 0.8s 1s forwards;
}

/*=== Icon Linkedin ===*/
.icon-In {
  display: inline-block;
  // height: 80%;
  // max-height: 100%;
  width: auto;
  fill: none;
  stroke: #fff;
  stroke-width: 15;
  stroke-miterlimit: 5;

  linearGradient {
    transform: rotate(135deg);
  }

  path {
    stroke-dasharray: 3000;
    // filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.7));
  }
}

svg:hover path {
  animation: animation-FB 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) forwards,
    gradient-FB 0.8s 1s forwards;
}

/* Gradient-svg */

#gradient-horizontal {
  $color-stop-1: #a770ef;
  $color-stop-2: #cf8bf3;
  $color-stop-3: #fdb99b;
}

#gradient-vertical {
  $color-stop-1: #00c3ff;
  $color-stop-2: #77e190;
  $color-stop-3: #ffff1c;
}

@keyframes gradient-FB {
  10% {
    fill: none;
  }
  100% {
    fill: url(#gradient-vertical);
    stroke-width: 0;
  }
}

/* Animation */

@keyframes animate-stars {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    fill: transparent;
    stroke-dashoffset: 1560;
  }
  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 3120;
    fill: url(#gradient-vertical);
  }
}

@keyframes animation-FB {
  from {
    stroke-dashoffset: 3000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
