.works {
  @include desktop {
    @include section;
  }

  &__container {
    @include container;
    @include grid;

    &__title {
      margin: 0rem 3rem;

      & h1 {
        color: $secondary-color;
        text-align: left;
      }
    }

    &__links {
      margin: 0 2rem;
      display: flex;
      justify-content: flex-end;
      height: 50px;
      width: 212px;

      &__btn {
        list-style: none;
        margin: 0 20px;
        cursor: pointer;
        height: auto;

        button {
          all: unset;
          position: relative;

          &:after {
            content: "";
            display: block;
            height: 0.5px;
            width: 0;
            background: transparent;
            transition: width 0.7s ease, background-color 0.5s ease;
            position: absolute;
            bottom: -2px;
            left: 0;
          }

          &.active:after {
            width: 100%;
            background: $tertiary-color;
            background: linear-gradient(
              90deg,
              $primary-color 0%,
              $secondary-color 50%,
              $tertiary-color 100%
            );
          }
        }
      }
    }
  }

  &__content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 23em;
    @include desktop {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
  }
}
