.contact {
  @include section;

  &__container {
    @include container;
    @include grid;

    &__title {
      padding: 1rem 3rem;
      border-bottom: 2px solid $secondary-color;
      border-top: 2px solid $secondary-color;

      & h3 {
        color: $secondary-color;
        text-align: left;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form {
      //   grid: 3rem;
      //   gap: 2rem;

      &--name {
        color: $secondary-color;
      }

      &--email {
        color: $secondary-color;
      }

      &--message {
        color: $secondary-color;
      }

      &--button {
        color: $secondary-color;
      }
    }
  }
}
