.home {
  @include section;
  &__container {
    @include container;
    @include grid;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    align-items: center;
  }

  &__social {
    display: none;
    // include desktop !!!!
    // display: grid;
    // grid-template-columns: max-content;
    // row-gap: 1rem;
    // transition-duration: 300ms;

    &--icon {
      font-size: 1.25rem;
      color: $secondary-color;

      &:hover {
        color: $tertiary-color;
      }
    }
  }

  &__photo {
    @include img;
    @include cadre;

    &__img {
      position: relative;
      // filter: contrast(90%) brightness(110%) saturate(150%) hue-rotate(-10deg);
    }

    // &::before {
    //   content: "";
    //   display: block;
    //   height: 100%;
    //   width: 100%;
    //   top: 0;
    //   left: 0;
    //   position: absolute;
    //   pointer-events: none;
    //   mix-blend-mode: overlay;
    //   background: rgba(127, 187, 227, 0.2);
    // }
  }

  &__data {
    grid-column: 1/3;
    padding: 3rem;

    &__presentation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__title {
        font-size: $h1-font-size;
        color: $secondary-color;
      }

      &__stars {
        font-size: large;
        color: #ffc600c2;
        position: relative;
        padding-right: 35px;

        &:after,
        :before {
          content: "✭";
          white-space: pre;
          top: -20px;
          position: absolute;
        }

        &:before {
          margin-right: 2px;
        }

        &:after {
          margin-left: 2px;
        }
      }
    }

    &__subtitle {
      border-left: 1px solid $tertiary-color;
      font-size: $h3-font-size;
      color: $secondary-color;
      font-weight: $semibold;
      margin-bottom: $mb-0-75;
    }
    &__description {
      margin-bottom: $mb-2;
      color: $secondary-color;
    }

    &__button {
      @include button;
      @include btn;
    }
  }

  &__scroll {
    display: none;

    &__button {
      color: $tertiary-color;
      transition: 0.3s;

      &--flex {
        display: inline-flex;
        align-items: center;

        &:hover {
          transform: translateY(0.25rem);
        }
      }

      &--mouse {
        font-size: 2rem;
      }

      &--name {
        font-size: $small-font-size;
        color: $secondary-color;
        font-weight: $semibold;
        margin-right: $mb-0-25;
      }

      &--arrow {
        font-size: 1.25rem;
      }
    }
  }
}
