.home {
  @include section;
  // padding: 0 !important;
  &__container {
    @include container;
    @include grid;
  }

  &__content {
    display: flex;
    flex-direction: column;
    // padding-left: 3.5rem;
    align-items: center;
  }

  &__photo {
    @include img;
    @include cadre;

    &__img {
      position: relative;
    }
  }

  &__data {
    // flex-basis: 200px; destok
    padding: 3rem;

    &__presentation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__title {
        font-size: $h1-font-size;
        color: $secondary-color;
      }

      &__stars {
        position: relative;
      }
    }

    &__subtitle {
      position: relative;
      font-size: $h3-font-size;
      color: $secondary-color;
      font-weight: $semibold;
      margin-bottom: $mb-0-75;
      padding-left: 30px;

      &::before {
        width: 10px;
        height: 100%;
        background: $fond-color;
        content: "";
        left: 10px;
        top: 0px;
        transform: rotate(90deg);
        position: absolute;
      }
    }

    &__description {
      margin-bottom: $mb-2;
      color: $secondary-color;
      text-align: justify;
      text-align-last: justify;
    }

    &__button {
      @include button;
      @include btn;
    }
  }
}
