*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: $p-fs-normal;
  background-color: $primary-color;
  color: $tertiary-color;
}

#root {
  // @include shadow;
  @include bg-shadow;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
  font-weight: $bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

img {
  max-width: 100%;
  height: auto;
}

/*============ Border title =================*/

.border-title {
  border: 0;
  height: 1px;
  margin: 5px 0;
  background: linear-gradient(
    90deg,
    $primary-color 0%,
    $secondary-color 50%,
    $tertiary-color 100%
  );
}

// ============ hiden =============

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
